<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Python at Work</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap.css') }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/main.css') }}>
</head>

<body>

{% include 'header.html' %}
{% block header %}{% endblock header %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% block messages %}{% endblock messages %}
            {% block content %}{% endblock content %}
        </div>
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                {% include 'sidebar.html' %}
                {% block sidebar %}{% endblock sidebar %}
            </div>
        </div>
    </div>
</div>

{% block footer %}{% endblock footer %}
</body>