{% extends 'index.html' %}

{% block content %}
<div class="card offset-md-4" style="width: 300px">
        <div class="card-block">
            <h4 class="card-title">{{ user.full_name }}</h4>
            <h6 class="card-subtitle text-muted">{{ user.username }}</h6>
            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </div>
        <img src="{{ user.avatar(300) }}" alt="Avatar" class="card-img">
        <div class="card-block">
        {% for post in posts %}
        <p class="card-text">
            <h2>{{ post.title }}</h2>
            <div class="blog-post"> {{ post.body|safe|truncate(400) }}
                <br>
                <a href="{{ url_for('blog.get_post', post_id=post.user_id) }}"><small>more</small></a>
            </div>
        </p>
        {% endfor %}
        </div>
    </div>
{% endblock %}