{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <h1>The Posts</h1>
                    {% for post in posts %}
                    <div class="blog-post">{{ post.content }}</div>
                    {% endfor %}
            </div>
            <div class="col-sm-3 offset-sm-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Using Python in a real-world enterprise setting.</h4>
                    <p>
                        Using Python when exploring data, building reports
                        and using machine learning and modelling for real-life stuff
                    </p>
                </div>
                <div class="sidebar-module">
                    <h4>Where to find me</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">Github</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}