{% extends 'index.html' %}

{% block content %}
        <form action="" method="post" role="form" class="form-signin">

            {{ form.hidden_tag() }}

            <h2 class="form-signin-heading">Please sign in</h2>
            {{ form.username(class="form-control", placeholder="Username") }}
            {{ form.password(placeholder="Password", class="form-control") }}
            <div class="checkbox">
                <label>
                    {{ form.remember_me(value=true) }}
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-primary">Sign in</button>
        </form>
{% endblock %}