{% block sidebar %}
    <h4>Using Python in a real-world enterprise setting.</h4>
        <p>
            Using Python when exploring data, building reports
            and using machine learning and modelling for real-life stuff
        </p>
    <div class="sidebar-module">
        <h4>Where to find me</h4>
        <ol class="list-unstyled">
            <li>
                <a href="#">Twitter</a>
            </li>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">Facebook</a>
            </li>
        </ol>
    </div>
{% endblock sidebar %}