{% block sidebar %}
    <h4>Using Python in a real-world enterprise setting.</h4>
        <p>
            Using Python when exploring data, building reports
            and using machine learning and modelling for real-life stuff
        </p>
    <div class="sidebar-module">
        <h4>Where to find me</h4>
        <ol class="list-unstyled">
            <li>
                <a href="https://twitter.com/andersbogsnes" class="twitter-follow-button" data-show-count="false">Follow @andersbogsnes</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li>
                <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/andersbogsnes" data-style="mega" aria-label="Follow @andersbogsnes on GitHub">Follow @andersbogsnes</a>
            </li>
        </ol>
    </div>
{% endblock sidebar %}